body{
    background-color: rgb(38, 176, 20);
}

*{
    margin: 0;
    padding: 0;
}

nav{
    font-family: sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 150px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 25px;
    font-size: 2.8rem;
}

.brand img{
    width: 90px;
    padding: 0 10px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 3.1rem;
}

.container{
    min-height: 65vh;
    background-color: black;
    color: white;
    font-size: 30px;
    display: flex;
    margin: 30px auto;
    width: 70%;
    border-radius: 20px;
    padding: 40px;
    background-image: url('bg.jpg');
}

.bottom{
    position: sticky;
    height: 250px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.icons{
    margin-top: 27px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 60px;
}

.songItem{
    height: 85px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
}

.songItem img{
    width: 70px;
    margin: 0 23px;
    border-radius: 34px;
}

.timestamp{
    margin: 0 30px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    position: absolute;
    left: 9.4vw;
    font-size: 30px;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}